{erl_opts, [debug_info]}.

{deps, [
    {ranch,  "2.2.0"},
    {enoise, {git, "https://github.com/aeternity/enoise.git", {branch, "master"}}}
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info, nowarn_export_all]}
    ]}
]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.

{dialyzer, [{warnings, [unknown]}]}.
